/* Typography */
body {
    /* Everything is Noto Sans */
    font-family: 'Noto Sans', sans-serif;
  }
  /* Except we're using more specific rules to override the headlines */
  h1, h2, h5, h6 {
    font-family: 'Tienne', serif;
  }
  /* And the "logo" */
  .navbar-brand {
    font-size: 35px;
    height: 55px
  }

  .navbar-brand img {
    width: 40px;
    height: 40px;
  }
  .navbar-light .navbar-brand {
    color: red;
  }
  
  /* Navbar background color */
  .navbar {
    background-color: white;
  }
  

  /* Jumbotron background and font styles */
  /* Notice that I'm using all of the background CSS rules on the CSS cheat sheet */
  .jumbotron {
    /* Background */
    background-attachment: fixed;
    background-image: url(seattle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;

    /* Fonts */
    /* The text-shadow helps the white text stand out better on a darker background */
    color: white;
    text-shadow: 2px 2px 2px black;
  }
  
  .jumbotron2 {
    background-color: rgb(255, 250, 242);
    height: 200px;
    padding-top: 40px;
  }
  
  .lead {
    font-size: 24px;
  }

  .row {
    font-size: 18px;
  }

  /* The background color of the "testimonials" part */
  .testimonials {
    background-color: rgb(252, 239, 215);
  }
  
  /* The size of the testimonials images */
  .media1 img {
    width: 140px;
    height: 90px;
  }

  .media2 img {
    width: 140px;
    height: 110px;
  }

  .media3 img {
    width: 140px;
    height: 90px;
  }
  
  .blockquote {
    font-size: 18px;
  }

  .rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  
  /* About Me */
  .aboutme {
    background-color: rgb(255, 250, 242);
  }

  .card {
    margin: 0 auto;
    float: none;
    margin-bottom: auto;
  }
  
  /* The footer */
  .footer img {
    width: 80px;
    height: 112px;
  }

  .carousel-inner img {
    width: 100%;
    margin: auto;
  }



 