body {
    font-family: 'Bangers', cursive;
    }
h1 {
    color: blue;
    font-size: 32pt;
    text-align: center;
    text-decoration: underline;
    text-shadow: 5px black;
    border: 2px solid blue;
    padding-left: 15px;
    font-family: 'Bangers', cursive;
}